<%- include("partials/header") %>
<img src="images/movies.jpg" id="mobileImage" alt="Cinema hall seats" class="img-fluid">
<div class="content">
<form class="row gy-4 gx-5 align-items-center" action="/add" method="post">
    <div class="col-lg-6">
        <div class="input-group mb-3">
            <span class="input-group-text">Movie</span>
            <input type="text" name="movie_name" class="form-control" placeholder="Enter Movie Name" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Release Date(Optional)</span>
            <input type="date" name="release_date" class="form-control" placeholder="DD/MM/YYYY">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Overview(Optional)</span>
            <textarea name="overview" class="form-control" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Select Genre (Can Select Multiple)</label>
            <select name="genre[]" class="form-select" id="genre" multiple required>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Horror">Horror</option>
                <option value="Family">Family</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Science Fiction">Sci-Fi</option>
                <option value="Thriller">Thriller</option>
                <option value="War">War</option>
                <!-- Add Other option with option to edit -->
            </select>
        </div>
        <div class="mb-3">
            <span class="form-label" for="formFile">Upload Image (Optional)</span>
            <input name="upload_image" class="form-control" type="file" id="formFile" accept="image/*">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mb-5">
            <label for="rating" class="form-label">Rate the Experience</label>
            <select name="rating" class="form-select" id="rating">
                <option value="" selected disabled>Select a Rating (Optional)</option>
                <option value="5">⭐⭐⭐⭐⭐ Absolutely Amazing!</option>
                <option value="4">⭐⭐⭐⭐ Really Enjoyed It!</option>
                <option value="3">⭐⭐⭐ Decent Watch</option>
                <option value="2">⭐⭐ Could Have Been Better</option>
                <option value="1">⭐ Not My Cup of Tea</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Review (Optional)</span>
            <textarea name="review" class="form-control" rows="3" placeholder="Enter your review"></textarea>
        </div>
        <div class="mb-5">
            <label for="watchStatus" class="form-label">Watch Status</label>
            <select name="watch_status" class="form-select" aria-label="Watch status" required>
                <option selected>Select Watch Status</option>
                <option value="Watched">Watched</option>
                <option value="Currently Watching">Currently Watching</option>
                <option value="On My Watchlist">On My Watchlist</option>
                <option value="Dropped It">Dropped It</option>
                <option value="Rewatching">Rewatching</option>
                <option value="Waiting for Release">Waiting for Release</option>
            </select>
        </div>       
        <div class="input-group mb-3">
            <span class="input-group-text">Watch Date (Optional)</span>
            <input type="date" name="watch_date" class="form-control" placeholder="DD/MM/YYYY">
        </div>
        <div class=" mb-3">
            <button type="submit" class="btn btn-primary w-100">Save Progress</button>
        </div>
    </div>   
</form>
</div>

<%- include("partials/footer") %>