<%- include("partials/header") %>

<video autoplay muted loop id="myVideo" class="vh-100">
    <source src="images/filmstrip.mp4" type="video/mp4">
</video>
<img src="images/movies.jpg" id="mobileImage" alt="moviesImage" class="img-fluid">

<div class="content main">
    <h1>Welcome to Movie Shelf!</h1>
    <h2>Your personal movie collection manager, where you can track, rate, and organize your favorite movies.</h2>
    <hr />
    <p>✔️ Track Your Movies: Easily add movies to your collection with details such as title, release
    year, and genre.</p>
    <p>✔️ Rate Movies: Rate the movies you've watched from 1 to 5 stars, helping you remember the
    ones you loved.</p>
    <p>✔️ Organize by Watch Status: Keep track of which movies you’ve watched, are watching, or want
    to watch.</p>
    <p>✔️ Search & Filter: Find your movies easily with search and filtering options.</p>  
    <hr />
    <h2>Start adding your favorite movies, rate them, and organize your collection.</h2>
</div>
<%- include("partials/footer") %>