<%- include("partials/header") %>

<video autoplay muted loop id="myVideo" class="vh-100">
    <source src="images/filmstrip.mp4" type="video/mp4">
</video>
<img src="images/movies.jpg" id="mobileImage" alt="moviesImage" class="img-fluid">

<div class="content mt-lg-0 mt-5">
    <p>Discover, track, and rate your favorite movies and TV shows all in one place. Movie Shelf is your personal space to
    organize your watched films, provide ratings, and jot down personal notes about your cinematic experiences.<br/>
    ➡️Track your favorites: Easily add movies and TV shows you've watched or plan to watch.<br />
    ➡️Rate & Review: Share your opinions with ratings and detailed reviews.<br />
    ➡️Personalized Experience: Add your own notes, watch status, and tags for each entry.<br />
    ➡️Explore: Find images and information directly from the API to enhance your collection.<br />
    Whether you’re a casual viewer or a film enthusiast, Movie Shelf helps you organize your collection and relive the best
    moments of every movie or show.</p>
</div>
<%- include("partials/footer") %>