* {
    box-sizing: border-box;
}
.navbar {
    z-index: 2;
}

#myVideo {
    margin-left: 280px;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 280px);
    z-index: -1;
    object-fit: cover;
}

.content {
    margin-left: 280px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: calc(100vw - 280px);
    padding: 20px;
    overflow-y: auto;
}
#mobileImage {
    /* display: none; */
    /* Hide image by default */
    position: fixed;
        bottom: 0;
        z-index: -2;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.checked {
    color: orange;
}
/* .movies {
    margin-left: 280px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: calc(100vw - 280px);
    padding: 20px;
    min-height: 100vh;
} */
/* Adjust for mobile screens */
@media (max-width: 991px) {
    .content {
        margin-left: 0;/*Hide sidebar space*/
        top: 4rem;
        width: 100vw;
        position: static;
    }
    #myVideo {
             display: none;
             /* Hide video on small screens */
    }
    
    /* #mobileImage {
             display: block;
             // Show image on small screens 
    } 
    */
}
